{% extends 'base.html' %}

{% load static %}



{% block title %}
    <title> Contact</title>{% endblock title %}


{% block content %}
   <!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Contact Us</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--End of Breadcrumb Banner Area--> 
  <!--Google Map Area Start-->
  <div class="google-map-area">
    <!--  Map Section -->
    <div id="contacts" class="map-area">
        <div id="googleMap" style="width:100%;height:485px;filter: grayscale(100%);-webkit-filter: grayscale(100%);"></div>
    </div>
</div>
<!--End of Google Map Area-->
<!--Contact Form Area Start-->
<div class="contact-form-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <h4 class="contact-title">contact info</h4>
                <div class="contact-text">
                    <p><span class="c-icon"><i class="fa fa-phone"></i></span><span class="c-text">965-213-8884</span></p>
                    <p><span class="c-icon"><i class="fa fa-envelope"></i></span><span class="c-text">natyanilayam@gmail.com</span></p>
                    <p><span class="c-icon"><i class="fa fa-globe"></i></span><span class="c-text">www.natyanilayam.com</span></p>
                    <p><span class="c-icon"><i class="fa fa-map-marker"></i></span><span class="c-text">New Ashok Nagar,Eluru,A.P</span></p>
                </div>
                <h4 class="contact-title">social media</h4>
                <div class="link-social">
                    <a href="https://www.facebook.com/111764141273153/posts/112695737846660/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.youtube.com/channel/UCvOsBYs5-Ha1kKUq9jqB4dg"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://www.instagram.com/accounts/login/?next=/naatyanilayam/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://twitter.com/naatyanilayam?s=08"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <h4 class="contact-title">send your massage</h4>
                <form  action="" method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="name" placeholder="name">
                        </div>
                        <div class="col-md-6">
                            <input type="email" name="cemail" placeholder="Email">
                        </div>
                        <div class="col-md-12">
                            <textarea name="message" cols="30" rows="10" placeholder="Message"></textarea>
                            <button type="submit" class="button-default">SUBMIT</button>
                        </div>
                    </div>
                </form>
                <p class="form-messege"></p>
            </div>
        </div>
    </div>
</div>
<!--End of Contact Form-->
{% endblock content %}