{% extends 'base.html' %}

{% load static %}



{% block title %}
    <title>Gallery</title>{% endblock title %}


{% block content %}
   <!--Breadcrumb Banner Area Start-->
   <div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Gallery</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Galleryi>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--End of Breadcrumb Banner Area--> 
  <!-- Gallery-area -->
<div class="container pb--5">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="section-title-wrapper">
                <div class="section-title">
                    <h3>Gallery</h3>
                    <p>Our Training,Performance and Learning</p>
                </div>
            </div>
        </div>
    </div>
    <div class="image-set  row pb-5">
        {% for details in details %}
        <div class="col-md-3 {% if forloop.counter0 == 0%}active{% endif %}">
            <a data-gallery="photoviewer" data-title="{{details.title}}" data-group="a"
            href="{{details.img.url}}">
            <img src="{{details.img.url}}" alt="">
        </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- end of gallery area -->
{% endblock content %}